#toolbar-administration .navbar-filter {
  width: 90%;
  padding: 1em;
  display: none;
  margin: auto;
}
body.toolbar-tray-open.toolbar-fixed.toolbar-vertical #toolbar-administration .navbar-filter {
  display: block;
}
.toolbar-horizontal .form-item.form-item-navbar-filter {
  margin: 0;
}
